body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #1f1f1f !important;
}

.main_nav {
  background-color: #1f1f1f;
  z-index: 1;
}

.main_nav h2,
p {
  color: #ffffff;
}

.search_bar input {
  background-color: #1f1f1f;
  color: #949393;
  width: 75%;
  border: none;
  border-bottom: 2px solid #ffa800;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
}

.search_bar input:focus {
  box-shadow: none !important;
  outline: none;
}

.search_icon {
  display: none;
  padding-right: 1rem;
}

@media only screen and (max-width: 1202px) {
  .search_bar {
    display: none;
  }

  .search_bar i {
    float: right;
  }

  .search_icon {
    display: block;
  }
}

.drop_nav {
  background-color: #ffa800 !important;
}

@media only screen and (max-width: 1281px) {
  .drop_nav {
    display: none;
  }
}

.drop_button {
  background-color: #ffa800;
  height: 4rem;
}

.detail_caption h1 {
  font-size: 70px;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
  text-transform: uppercase;
}

@media only screen and (max-width: 710px) {
  .detail_caption h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 610px) {
  .detail_caption h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 355px) {
  .detail_caption h1 {
    font-size: 40px;
  }
}

.detail_caption p {
  font-size: 20px;
  margin-bottom: 7rem;
  color: inherit;
  font-weight: 600;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.carousel-item img {
  height: 451px;
}

.product_content {
  background-color: #000000;
  opacity: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  position: relative;
  margin-top: -5rem;
  text-transform: uppercase;
}

.product_content h5 {
  color: #ffffff;
  padding-inline: 16px;
  margin-bottom: 0;
  font-size: 16px;
  border-right: 2px solid #ffffff;
}

@media only screen and (max-width: 400px) {
  .product_content h5 {
    font-size: 5px;
  }
}

.vehicle_selection {
  background-color: #ffa800;
  height: 4.1rem;
  border-radius: 2rem;
  margin-top: 1rem;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .vehicle_selection {
    display: none;
  }
}

.car_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  height: 2.9rem;
}

.car_content div > button::after {
  float: right;
  margin-top: 0.6rem;
}

.car_content button {
  background-color: #ffffff;
}

.vehicle_selection h5 {
  margin-block: 1.3rem;
  font-size: 1.1rem;
  color: #ffffff;
}

.vehicle_selection .col {
  max-width: fit-content;
}

.selection_button button {
  width: 9rem;
  background-color: #ffffff;
}

.selection_button button:focus {
  box-shadow: none;
}

.detail_button button {
  width: 9rem;
  background-color: #ffd95d;
}

.detail_button button:focus {
  box-shadow: none;
}

.selection_button .dropdown-menu {
  min-width: 9rem;
}

.detail_button .dropdown-menu {
  min-width: 9rem;
  background-color: #ffd95d;
}

.go-button {
  padding: 10px 10px;
  background-color: #ffd95d;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  text-transform: uppercase;
}

.car_selection {
  background-color: #ffa800;
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 30px;
  position: relative;
  height: 20rem;
}

@media only screen and (min-width: 1200px) {
  .car_selection {
    display: block;
    display: none;
  }
}

.nissan_car {
  background-image: url(../images/vehicle/nissan.png);
  border-radius: 20px;
  height: 16rem;
}

.nissan_content h4,
.motor_bike h4,
.harley_bike h4 {
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
}

@media only screen and (max-width: 770px) {
  .nissan_content h4,
  .motor_bike h4,
  .harley_bike h4 {
    font-size: 20px;
  }
}

.nissan_content h5,
.motor_bike h5,
.harley_bike h5 {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

@media only screen and (max-width: 770px) {
  .nissan_content h5,
  .motor_bike h5,
  .harley_bike h5 {
    font-size: 10px;
  }
}

.motor_bike a,
.harley_bike a {
  color: #ffffff;
  text-decoration: underline;
}

.motor_bike a:hover,
.harley_bike a:hover {
  color: #ffffff;
}

.bike_content {
  gap: 25px;
}

.motor_bike {
  background-image: url(../images/vehicle/motorcycle.png);
  border-radius: 20px;
  height: 11rem;
}

.harley_bike {
  background-image: url(../images/vehicle/harley-davidson.png);
  border-radius: 20px;
  height: 11rem;
}

.tool_parts {
  background-color: #ffffff;
  border-radius: 20px;
  text-decoration: #000000;
}

.tool_parts button {
  padding: 0.4rem 0.8rem;
}

.tabshow_content {
  display: flex;
  justify-content: space-around;
}

.tabshow_content .col {
  padding: 1.4rem 2.4rem;
}

.tabshow_content h5 {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  font-size: 14px;
  padding-top: 24px;
  font-weight: 400;
  line-height: 16.94px;
}

.tools_link.active {
  border-bottom: 2px solid #ffa800 !important;
  border-top: none !important;
  border-inline: none !important;
}

.empty_fluid {
  background-color: #ffa800;
  height: 2rem;
}

.regular_service {
  color: #ffffff;
}

.regular_card {
  background-color: #ffffff;
  border-radius: 2px;
  height: 9rem;
  padding: 12px;
}

.regular_card h5 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

.regular_card p {
  color: #000000;
  font-size: 13px;
  font-weight: 400;
}

.regular_service > .carousel-cell {
  width: 35%;
}

.models_link button {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

.models_link button.active {
  color: #ffffff !important;
  border-bottom: 1px solid #ffa800 !important;
  background-color: transparent !important;
  border-top: none !important;
  border-inline: none !important;
}

.models_link button:hover {
  border-color: transparent !important;
}

.car_model {
  gap: 2.2rem;
}

@media only screen and (min-width: 1200px) {
  .car_model > .col-lg-2 {
    max-width: 11%;
  }
}

.vehicleshow_content {
  background-color: #ffffff;
  border-radius: 7px;
  height: auto;
  text-align: center;
}

.vehicleshow_content h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

.vehicleshow_content h4 {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  font-family: "SF Pro Display";
}

.vehicleshow_content p {
  font-size: 10px;
  font-weight: 400;
  color: #5f5e5e;
  font-family: "SF Pro Display";
}

.manufacturer_company {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 7rem;
}

.veiw_btn {
  justify-content: end;
  padding-inline-end: 1rem;
  padding-block: 1rem;
}

.dorman_logo img {
  width: 50%;
}

.shipping_help {
  gap: 2rem;
}

.shipping_content {
  background-color: #4d4d4d;
  border-radius: 10px;
}

.shipping_content h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}

.shipping_content h5 {
  color: #ffffff;
  font-weight: 600;
  font-size: 0.9rem;
}

.gradient_container {
  background: linear-gradient(180deg, #525252 0%, rgba(82, 82, 82, 0) 86.12%);
  border-radius: 50px 50px 0 0;
  padding: 2rem 2rem 4rem 2rem;
}

.gradient_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradient_heading h3 {
  color: #ffa800;
  font-size: 32px;
}

.gradient_heading h4 {
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
}

.gradient_column {
  display: flex;
  justify-content: center;
}

.gradient_column_content {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0rem 10em 0rem;
}

.gradient_column_content h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  color: rgba(255, 168, 0, 1);
}

.gradient_column_content h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.gradient_svg img {
  position: absolute;
  right: 0%;
  top: 40%;
}

.rating_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating_container h4 {
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  color: rgba(255, 168, 0, 1);
}

.rating_container h5 {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
}

.star_content {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

@media only screen and (max-width: 400px) {
  .star_content {
    flex-direction: column;
  }
}

.star_content h3 {
  display: flex;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
}

.star_card {
  background-color: #ffffff;
  border-radius: 2px;
  height: 9rem;
  padding: 12px;
}
.rating_card_carousel {
  width: 20rem;
  box-shadow: 0px 4px 4px 0px rgba(137, 137, 137, 0.25);
  background-color: rgba(77, 77, 77, 1);
}
.rating_card_carousel_body_bottom {
  padding-top: 0.3rem;
}
.blog_service {
  color: #ffffff;
}

.blog_card_main h4 {
  color: #ffa800;
  font-size: 12px;
  font-weight: 600;
}

.blog_card_main h5 {
  color: #000000;
  font-size: 11px;
  font-weight: 400;
}

.footer_container {
  background-color: #000000;
}

.contact_us {
  border-left: 1px solid #ffffff;
}

.contact_no {
  gap: 12px;
}

.footer_list {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
}

.footer_list li {
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  color: #ffffff;
  text-decoration: none !important;
}

.establish_content h5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  opacity: 0.7;
}

.footer_para h4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding: 0rem 1rem 0rem 1rem;
  opacity: 0.7;
}
