body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #1f1f1f !important;
}

nav {
  background-color: #1f1f1f;
}

.main_nav h2,
p {
  color: #ffffff;
}

.search_bar {
  border-bottom: 2px solid #FFA800;
}

.search_bar input {
  background-color: #1f1f1f;
  color: #949393;
  width: 75%;
  border: none !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
}

.search_bar input:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none;
}

.search_icon {
  display: none;
  padding-right: 1rem;
}

@media only screen and (max-width: 1203px) {
  .search_bar {
    display: none;
  }

  .search_bar i {
    float: right;
  }

  .search_icon {
    display: block;
  }
}

.drop_nav {
  background-color: #FFA800 !important;
}

@media only screen and (max-width: 1281px) {
  .drop_nav {
    display: none;
  }
}

.drop_button {
  background-color: #FFA800;
  height: 4rem;
}

.detail_caption h1 {
  font-size: 70px;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
  text-transform: uppercase;

}

.detail_caption p {
  font-size: 20px;
  margin-bottom: 7rem;
  color: inherit;
  font-weight: 600;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.carousel-item img {
  height: 451px;
}

.product_content {
  background-color: #000000;
  opacity: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  position: relative;
  margin-top: -5rem;
  text-transform: uppercase;
}

.product_content h5 {
  color: #ffffff;
  padding-inline: 16px;
  margin-bottom: 0;
  font-size: 16px;
  border-right: 2px solid #ffffff;
}

@media only screen and (max-width: 400px) {
  .product_content h5 {
    font-size: 5px;
  }
}

.vehicle_selection {
  background-color: #FFA800;
  height: 4.5rem;
  border-radius: 2rem;
  margin-top: 1rem;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .vehicle_selection {
    display: none;
  }
}

.car_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  height: 2.9rem;
}

.car_content div>button::after {
  float: right;
  margin-top: 0.6rem;
}

.car_content button {
  background-color: #ffffff;
}

.vehicle_selection h5 {
  margin-block: 1.3rem;
  font-size: 1.1rem;
  color: #ffffff;
}

.vehicle_selection .col {
  max-width: fit-content;
}

.selection_button button {
  width: 9rem;
  background-color: #ffffff;
}

.selection_button button:focus {
  box-shadow: none;
}

.detail_button button {
  width: 9rem;
  background-color: #ffd95d;
}

.detail_button button:focus {
  box-shadow: none;
}

.selection_button .dropdown-menu {
  min-width: 9rem;
}

.detail_button .dropdown-menu {
  min-width: 9rem;
  background-color: #ffd95d;
}

.go-button {
  padding: 10px 10px;
  background-color: #ffd95d;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  text-transform: uppercase;
}

.car_selection {
  background-color: #FFA800;
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 30px;
  position: relative;
  height: 20rem;
}

@media only screen and (min-width: 1200px) {
  .car_selection {
    display: block;
    display: none;
  }
}

.nissan_car {
  background-image: url(../images/nissan.png);
  border-radius: 20px;
  height: 16rem;
}

.nissan_content h4,
.motor_bike h4,
.harley_bike h4 {
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
}

@media only screen and (max-width: 770px) {

  .nissan_content h4,
  .motor_bike h4,
  .harley_bike h4 {
    font-size: 20px;
  }
}

.nissan_content h5,
.motor_bike h5,
.harley_bike h5 {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

@media only screen and (max-width: 770px) {

  .nissan_content h5,
  .motor_bike h5,
  .harley_bike h5 {
    font-size: 10px;
  }
}

.motor_bike a,
.harley_bike a {
  color: #ffffff;
  text-decoration: underline;
}

.motor_bike a:hover,
.harley_bike a:hover {
  color: #ffffff;
}

.bike_content {
  gap: 25px;
}

.motor_bike {
  background-image: url(../images/motorcycle.png);
  border-radius: 20px;
  height: 11rem;
}

.harley_bike {
  background-image: url(../images/harley-davidson.png);
  border-radius: 20px;
  height: 11rem;
}

.tool_parts {
  background-color: #ffffff;
  border-radius: 20px;
  text-decoration: #000000;
}

.tool_parts button {
  padding: 0.4rem 0.8rem;
}

.tabshow_content {
  display: flex;
  justify-content: space-around;
}

.tabshow_content .col {
  padding: 1.4rem 2.4rem;
}

.tabshow_content h5 {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  text-decoration: underline;
  font-size: 14px;
  padding-top: 24px;
  font-weight: 400;
  line-height: 16.94px;
}

.tools_link.active {
  border-bottom: 2px solid #FFA800 !important;
  border-top: none !important;
  border-inline: none !important;
}

.empty_fluid {
  background-color: #FFA800;
  height: 2rem;
}

.regular_service {
  color: #ffffff;
}

.regular_card {
  background-color: #ffffff;
  border-radius: 2px;
  height: 9rem;
  padding: 12px;
}

.regular_card h5 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

.regular_card p {
  color: #000000;
  font-size: 13px;
  font-weight: 400;
}

.regular_service>.carousel-cell {
  width: 35%;
}

.models_link button{
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}
.models_link button.active{
  color: #ffffff !important;
  border-bottom: 1px solid #FFA800 !important;
  background-color: transparent !important;
  border-top: none !important;
  border-inline: none !important;
}
.models_link button:hover{
  border-color: transparent !important;
}
.car_model{
  gap: 2.2rem;
}
.vehicleshow_content{
  background-color: #ffffff;
  border-radius: 7px;
  height: auto;
}
.vehicleshow_content h5{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  
}

.manufacturer_company{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 7rem;
}
.veiw_btn{
  justify-content: end;
  padding-inline-end: 1rem;
  padding-block: 1rem;
}